<!DOCTYPE html>
<html>

<head>
  <title>Lisää resepti</title>
</head>

<body>
  <p><a href="/">Etusivulle</a></p>
  {% if error_msg %}
  <h1>VIRHE RESEPTIN LISÄÄMISESSÄ</h1>
  <h2>{{error_msg}}</h2>
  {% endif %}
  <form action="/create_recipe" method="post">
    <input type="hidden" name="csfr_token" value="{{ session.csfr_token }}" />
    <p>
      Reseptin nimi: <br />
      <input type="text" name="recipe_name" maxlength="{{ max_name_len }}" value="{{ name }}"/>
    </p>
    <p>
      Raaka-aineet (esim. 1dl maitoa, 8dl jauhoja): <br />
      <textarea rows="10" cols="80" name="ingredients" maxlength="{{ max_ingredients_len }}">{{ ingredients }}</textarea>
    </p>
    <p>
      Ohjeet (esim. aseta uuni 200 lämpöön, sekoita kuiva-aineet): <br />
      <textarea rows="10" cols="80" name="instructions" maxlength="{{ max_instructions_len }}" >{{ instructions }}</textarea>
    </p>
    <p>
      {% for tag in available_tags %}
      {% if tag.id in added_tags %}
      <input type="checkbox" name="tags" value="{{ tag.id }}" checked="checked"/>{{ tag.name }}
      {% else %}
      <input type="checkbox" name="tags" value="{{ tag.id }}"/>{{ tag.name }}
      {% endif %}
      {% endfor %}
    </p>
    <p>
      <input type="submit" value="Lisää resepti" />
    </p>
  </form>
</body>

</html>