<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa reseptiä</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <p><a href="/">Etusivulle</a></p>
  {% if error_msg %}
  <h1 class="error">VIRHE MUUTOSTEN TALLENTAMISESSA</h1>
  <h2 class="error">{{error_msg}}</h2>
  {% endif %}
  <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      Reseptin nimi: <br />
      <input type="text" name="recipe_name" value="{{ recipe.Name }}" maxlength="{{ max_name_len }}"/>
    </p>
    <p>
      Raaka-aineet (esim. 1dl maitoa, 8dl jauhoja): <br />
      <textarea rows="10" cols="80" name="ingredients" maxlength="{{ max_ingredients_len }}">{{ recipe.Ingredients }}</textarea>
    </p>
    <p>
      Ohjeet (esim. aseta uuni 200 lämpöön, sekoita kuiva-aineet): <br />
      <textarea rows="10" cols="80" name="instructions" maxlength="{{ max_instructions_len }}">{{ recipe.Instructions }}</textarea>
    </p>
    {% for tag in available_tags %}
      <div style="display:inline-block;">
      {% if tag.id in added_tags %}
        <input type="checkbox" name="tags" value="{{ tag.id }}" checked="checked"/>{{ tag.name }}
      {% else %}
        <input type="checkbox" name="tags" value="{{ tag.id }}"/>{{ tag.name }}
      {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="Tallenna muutokset" />
  </form>
  <hr style="margin-top: 15em;">
  <form action="/recipes/{{ RecipeId }}/delete" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Poista resepti pysyvästi" />
  </form>
</body>

</html>