<!DOCTYPE html>
<html>

<head>
    <title>Reseptit</title>
</head>

<body>
    <p>
        {% if not session.user_id %}
        <a href="/register">Luo tunnus</a>
        <a href="/login">Kirjaudu sisään</a>
        {% else %}
        <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
    </p>
    {% if session.user_id %}
    <p><a href="/users/{{ session.user_id }}">Oma käyttäjä / {{ session.username }}</a></p>
    <p><a href="/create_recipe">Lisää resepti</a></p>
    {% endif %}
    <p><a href="/search_recipe">Hae reseptejä</a></p>
</body>

</html>