<!DOCTYPE html>
<html>

<head>
  <title>Kirjaudu</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <p><a href="/">Etusivulle</a></p>
  {% if error_msg %}
  <h1 class="error">VIRHE REKISTERÖITYMISESSÄ</h1>
  <h2 class="error">{{error_msg}}</h2>
  {% endif %}
  <form action="/login" method="post">
    {% if next_page %}
      <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
      <input type="hidden" name="next_page" value="/" />
    {% endif %}
    <label>
      Tunnus: <br />
      <input type="text" name="username" value="{{ username }}" maxlength="{{ max_username_len }}" />
    </label>
    <label>
      Salasana: <br />
      <input type="password" name="password" value="{{ password }}" maxlength="{{ max_password_len }}" />
    </label>
    <input type="submit" value="Kirjaudu sisään" maxlength="{{ max_password_len }}" />
  </form>
</body>

</html>