<!DOCTYPE html>
<html>

<head>
  <title>{{recipe.Name}}</title>
</head>

<body>
  <p><a href="/">Etusivulle</a></p>
  {% if found %}
    <h1>{{recipe.Name}}</h1>
    <p><a href="/users/{{recipe.CreatorId}}">{{recipe.CreatorName}}</a></p>
    {% if session.username == recipe.CreatorName%}
    <h3><a href="/recipes/{{ RecipeId }}/edit">Muokkaa</a></h3>
    {% endif %}
    <h3>Raaka-aineet</h3>
    <p>{{recipe.Ingredients}}</p>
    <h3>Ohjeet</h3>
    <p>{{recipe.Instructions}}</p>
    <h4>Tunnisteet</h4>
    <p>
      {% if tag_names %}
        {% for tag_name in tag_names %}
          <li>{{tag_name.TagName}}</li>
        {% endfor %}
      {% else %}
        Ei tunnisteita
      {% endif %}
    </p>
    {% if session.username %}
      <h2>Arvostele</h2>
      <form action="" method="POST">
        <input type="hidden" name="recipe_id" value="{{ recipe_id }}" />
        <input type="hidden" name="csfr_token" value="{{ session.csfr_token }}" />
        <p>
          Arvio: <br />
          <input type="range" min="1" max="5" value="1" name="rating">
        </p>
        <p>
          Kommentti: <br />
          <textarea rows="10" cols="80" name="comment"></textarea>
        </p>
        <input type="submit" value="Lähetä arostelu" />
      </form>
    {% endif %}
    <h3>Arvostelut</h3>
    {% if not session.username %}
    <p>
      <a href="/register">Luo käyttäjä lisätäksesi arvostelu</a></p>
      <a href="/login">Kirjaudu sisään lisätäksesi arvostelu</a>
    </p>
    {% endif %}
    {% if page %}
      <p><a href="/recipes/{{ recipe_id }}/{{ page - 1 }}">Edellinen sivu</a></p>
    {% endif %}
    {% if reviews %}
      {% for review in reviews %}
        <h4><a href="/users/{{review.ReviewerId}}">{{ review.ReviewerName }}</a>: {{ review.Rating }} / 5</h4>
        {% if review.Comment %}
          <p>{{review.Comment}}</p>
        {% endif %}
      {% endfor %}
      <p><a href="/recipes/{{ recipe_id }}/{{ page + 1 }}">Seuraava sivu</a></p>
    {% else %}
      <p>Ei arvosteluja</p>
    {% endif %}
  {% else %}
    <h1>RESEPTIÄ EI LÖYTYNYT</h1>
  {% endif %}
</body>