<!DOCTYPE html>
<html>

<head>
  <title>Etsi reseptejä</title>
</head>

<body>
  <p><a href="/">Etusivulle</a></p>
  <form action="/search_recipe" method="post">
    <p>
      Hakusana (alaviiva [_] hakee mitä tahansa merkkiä ja prosentti merkki [%] miten tahansa monta mitä tahansa
      merkkiä): <br />
      <input type="text" name="search" value="{{ search }}" maxlength="{{ max_search_len }}" />
    </p>
    <h4>Näytä vain respetit joilla on tunnisteet:</h4>
    <p>
      {% for tag in available_tags %}
      {% if tag.id in filter_tag_ids %}
      <input type="checkbox" name="tags" value="{{ tag.id }}" checked="checked"/>
      {% else %}
      <input type="checkbox" name="tags" value="{{ tag.id }}"/>
      {% endif %}
      {{ tag.name }}
      {% endfor %}
    </p>
    <p>
      <input type="submit" value="Hae" />
    </p>
  </form>
  {% if page %}
  <form action="/search_recipe/{{ page - 1}}" method="post">
    <input type="hidden" name="search" value="{{ search }}" maxlength="{{ max_search_len }}" />
    {% for tag_id in filter_tag_ids %}
      <input type="hidden" name="tags" value="{{ tag_id }}"/>
    {% endfor %}
    <p><input type="submit" value="Edellinen sivu" /></p>
  </form>
  {% endif %}
  {% if recipes %}
  {% for recipe in recipes %}
  <h1>
    <a href="/recipes/{{recipe.Id}}">{{recipe.Name}}</a> by <a
    href="/users/{{recipe.CreatorId}}">{{recipe.CreatorName}}</a>
    {% if recipe.AverageRating %}Arvio: {{ recipe.AverageRating | round(2) }} {% endif %}
  </h1>
  {% endfor %}
  <form action="/search_recipe/{{ page + 1}}" method="post">
    <input type="hidden" name="search" value="{{ search }}" maxlength="{{ max_search_len }}" />
    {% for tag_id in filter_tag_ids %}
      <input type="hidden" name="tags" value="{{ tag_id }}"/>
    {% endfor %}
    <p><input type="submit" value="Seuraava sivu" /></p>
  </form>
  {% else %}
  {% if did_search %}
  <h1>Reseptejä ei löytynt. Kokeile toista hakua. </h1>
  {% endif %}
  {% endif %}
</body>

</html>